/* This is the main CSS style for Escape Room Manager Project */
html, * {
    padding: 0;
    margin: 0;
}

/* Start Menu */
nav {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    background-color: #333;
    font-weight: 600;
    cursor: pointer;
}

nav li button:focus {
    outline: transparent;
}

nav li button:hover:not(.active) {
    background-color: #4CAF50;
}

nav .active {
    background-color: #4CAF50;
}
/* End Menu */

/* Content */
section {
    padding: 0 120px;
}
/* End Content */

/* Start Form */
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-form {
    width: 300px;
    padding: 5px;
    margin: 8px auto;
    border-radius: 2px;
    border: 1px solid #b9b6b6;
}

.form-submit {
    background-color: transparent;
}

/* End Form */

/* Start Title */

.h1-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* End Title */